body{
    margin:0;
}
nav{
    width: 100%;
    float:left;
}
.menu{
    margin:0;
    padding:8px;
    height:21px;
    background-color:pink;
}
.menu li{
    display:inline;
}
.button{
    font-family:Arial;
    font-size: 20px;
    font-style: none;
    color:black;
    padding:8px;
    text-decoration: none;
}
h1{
    font-style: italic;
    font-size: 55px;
    margin-top: 10px;
    padding:15px;
    margin-left: 500px;
   
}
.image{
display:inline;
padding:50px;
margin-left: 180px;
}
p{
    font-size: 20px;
    margin-left: 20px;
    font-style: piazzoll;
    
}
a{
    font-weight: bold;
}
table, th, td{
    border: 20px;
    text-align: center;
    border-style: groove;
   border-color: burlywood;
}