h4,h2,h3 {
    font-size:32px;color:blue;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}
nav{
    float: left;
    width: 100%;
    position: fixed;
    padding: 5px 5px;
    height: 45px;
    background-color: rgb(87, 136, 185);
    font-size: 20px;
        
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: 35px;
    margin-top: 0;
}
.container{
    background-color:rgb(221, 210, 210);
    margin:30px;
    height: 450px;
    box-shadow:20px 10px midnightblue;
    padding:15px;
    border:15px;
    display:block;
    clear: both;
}
img {
    float: left; 
    margin: 5px;
    width: auto;
    margin-top:0;
    padding-right: 20px;
    
}
body{
    margin: 0;
}
section{
    padding:5px;
}
.underline{
    font-weight:bold;
    text-align: center;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(51, 15, 136);
}
.menu li{
   display:inline;
}

   



