h1{
    color:blue;font-size: 100px;float:center;
}
img{
    float:center;padding:20px;
}
h3{
    color:purple;font-weight: bold;
}
a{
    font-size: 32px;
}
.bld{
    font-weight: bold;color: red;
}
#bordering{
    border:10px solid transparent;
    padd
}